* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(bg.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.container {
  background-color: #fff;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
  width: calc(100vw - 65vw);
  max-width: 100%;
}

.header {
  background: linear-gradient(to right, #74ebd5, #9face6);
  padding: 30px 0;
}

.header h2 {
  color: #222;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
}

.form {
  padding: 30px;
}

.form-control {
  margin-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: block;
  font-size: 14px;
  padding: 12px;
  background-color: #fff;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  position: absolute;
  right: 5%;
  top: 45px;
  visibility: hidden;
}

.form-control.success i.fa-circle-check {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-circle-exclamation {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form > .btn {
  background: linear-gradient(to right, #51eace, #c2cbef);
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  text-transform: uppercase;
  transition: all 1s ease;
}

.form > .btn:hover {
  background: linear-gradient(to right, #74ebd5, #9face6);
}
.form > .btn:active {
  transform: scale(0.95);
}
